@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-background: var(--color-zinc-200);
    --color-border: var(--color-zinc-200);
    --color-destructive: var(--color-red-600);
    --color-foreground: var(--color-zinc-700);
    --color-highlight: rgba(255, 255, 255, 1);
    --color-muted-foreground: var(--color-zinc-600);
    --color-muted: var(--color-zinc-300);
    --color-primary: var(--color-indigo-600);
    --color-shadow: rgba(0, 0, 0, 0.2);
    --color-warning: var(--color-orange-600);

    --shadow-inset:
        1px 1px 2px var(--color-shadow),
        -1px -1px 2px var(--color-highlight),
        inset 2px 2px 6px var(--color-shadow),
        inset -2px -2px 6px var(--color-highlight);
    --shadow-raised:
        2px 2px 6px var(--color-shadow),
        -2px -2px 6px var(--color-highlight),
        inset 0px 0px 0px var(--color-shadow),
        inset 0px 0px 0px var(--color-highlight),
        inset 1px 1px 2px var(--color-highlight),
        inset -1px -1px 2px var(--color-shadow);
}

@layer theme {
    .dark {
        --color-background: var(--color-zinc-900);
        --color-border: var(--color-zinc-950);
        --color-destructive: var(--color-red-400);
        --color-foreground: var(--color-zinc-100);
        --color-highlight: rgba(255, 255, 255, 0.2);
        --color-muted-foreground: var(--color-zinc-400);
        --color-muted: var(--color-zinc-700);
        --color-primary: var(--color-indigo-400);
        --color-shadow: rgba(0, 0, 0, 0.75);
        --color-warning: var(--color-orange-400);
    }
}

@layer base {
    html,
    body {
        @apply text-foreground bg-background;
    }
}
